body {
    padding: 0;
    margin: 0;
}


.logo-img {
    height: 50px;
}
.header {
    background: red;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-wrap{
    
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    
        ul {
            margin: 0;
            padding: 0;
        }
        li{
            display: inline-block;
            vertical-align: top;
                       
            a{
                text-decoration: none;
                color: yellow;
                display: block;
                padding: 30px; 

             &:hover {
                color: blue;
                background : green;
            }
         }
    }
}